 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(126,196,189,0.65), rgba(126,196,189,0.65)), url("images/blue_lotus_3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  margin: 173px 153px 0 500px;
}

.u-section-1 .u-text-2 {
  margin: 12px -16px 60px 331px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 360px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 155px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    margin-left: 231px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 276px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 207px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 53px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 130px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 98px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  width: 880px;
  margin: 21px auto 0;
}

.u-section-2 .u-btn-1 {
  font-style: italic;
  background-image: linear-gradient(45deg, #ccd3db, #e0e5eb);
  border-style: solid;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 29px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 539px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 65px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 315px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  width: 154px;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  width: 154px;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  width: 154px;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before,
.u-section-3 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before,
.u-section-3 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-3 .u-icon-3 {
  stroke-width: 0 !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 617px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 60px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 409px;
  width: 503px;
  margin: 39px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 10px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}